# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: false # golangci-lint has its own smarter caching
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest

  build-and-scan:
    runs-on: ubuntu-latest
    # runs-on: ${{matrix.os}}
    # strategy:
    #   matrix:
    #     os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'
        cache: true
    
    - name: security
      uses: securego/gosec@master
      with:
        args: ./...
    
    - name: Vulnerability Check
      run: go run golang.org/x/vuln/cmd/govulncheck@latest ./... # recursive vuln check


    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
  
    # - uses: mr-smithers-excellent/docker-build-push@v6
    #   name: Build & push Docker image
    #   with:
    #     image: devdeep606/gosh
    #     tags: v1, latest
    #     registry: registry-url.io
    #     dockerfile: Dockerfile.ci
    #     username: ${{ secrets.DOCKER_USERNAME }}
    #     password: ${{ secrets.DOCKER_PASSWORD }}